<div class="selector">
  <div class="selector--container">
    <div class="selector--content">
      <div class="selector--btn">
        <div class="selector--number selected">
          <label>1</label>
        </div>
        <span>{{'sales-pipeline-settings' | translate}}</span>
      </div>
      <div class="selector--btn">
        <div class="selector--number">
          <label>2</label>
        </div>
        <span>{{'opportunity-details-settings' | translate}}</span>
      </div>
    </div>
  </div>
</div>