<div class="sales">
  <div class="sales--container">
    <div class="sales--header">
      <h1>{{'sales-title-message' | translate}}</h1>
      <div class="type--container">
        <app-checkbox [selectedType]="selectedType"
                      *ngFor="let type of salesTypes"
                      [type]="type"
                      (click)="selectedType = type"></app-checkbox>
      </div>
    </div>
    <div class="sales--content">
      <div class="card--container">
        <app-card *ngFor="let tab of salesTabs"
                  [tab]="tab"></app-card>
      </div>
    </div>
  </div>
</div>